@media only screen and (max-width:399px){
.logo{width: 200px;
    position: relative;
    top: 16px;
    left: 90px;
}
ul>li{ display: none}
    div.header_logo{padding: 20px 0px 15px 60%}

    .dropdown{position: relative;
    display: inline;}
 .banner_img>img{
     width: 100%;
     padding: 50px 0px 0px 0px;
     position: relative;
     top: 140px;
     left: 250px;
 }
 .logo{ width:120px}
}

@media only screen and (min-width:400px){

}

@media only screen and (min-width:650px){

}

@media only screen and (min-width:850px){

}

@media only screen and (min-width:1100px){

}

@media only screen and (min-width:1400px){

}