*{
    margin: auto;
}

body{
    font-family: Poppins, sans-serif;
}

.banner{
    background-image: url("../img/banner-bg.jpg");
    padding-bottom: 560px;
    background-repeat: round;
}

.header{
    background-color: rgba(138, 144, 255, 0.9);
    width: 100%;
    padding-bottom: 11px;
    position: fixed;
    z-index: 1;
}

ul>li{
    display: inline;
    padding-right: 15.5px;
    font-size: 13px;
    color: white;
}

nav>ul{
    text-align: right;
    padding-right: 80px;

}

nav{
    position: relative;
    bottom: 10px;
}

.logo{
    position: relative;
    top: 16px;
    left: 90px;
    width: 145px;
}

.dropdownbtn{
    background-color: white;
    color: rgba(138,144,255,0.9);
    padding: 8px;
    font-size: 12px;
    border: none ;
    border-radius: 4px;
    float: left;
    position: relative;
    bottom: 50px;
}

.dropdown {
    position: relative;
    display: none;
    background-color: rgba(138, 144, 255, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_content{
    display: none;
    position: absolute;

}

.dropdown_content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover{
    background-color:white;
}

.dropdown:hover .content{
    display: block;
}
.dropdown:hover .dropdownbtn{
    background: white;
}

.banner_img{
    width: 440px;
    float: right;
    position: relative;
    top: 100px;
    right: 167px;
}

.h2_banner{
    position: absolute;
    top: 170px;
    left: 90px;
    width: 390px;
    font-size: 52px;
    color: white;
    font-weight: 1;
    letter-spacing: 0.5px;


}

.subtext_banner{
    position: absolute;
    top: 360px;
    left: 90px;
    font-size: 15.5px;
    color: white;
    font-weight: 1;
    letter-spacing: 0.5px;

}

.btn{
    position: absolute;
    top: 400px;
    left: 90px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 32px ;
    padding-left: 32px ;
    border: none;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.Featured_title{
    font-size: 35px;
    text-align: center;
    padding-top: 105px;
    font-weight: 600;
    color: #222222;
    letter-spacing: 0.5px;
}

.Featured_p{
    text-align: center;
    color: #777777;
    padding-top: 18px;
    font-weight: 300;
    font-size: 15px;
    font-weight: 1;
    letter-spacing: 0.5px;

}

.prococt{
    display: flex;
    padding-top: 75px;
    padding-left: 38px;
    padding-right: 35px;
}

.ditails{
    background-color: #f9f9ff;
    text-align: center;
    padding: 27px 30px 70px 30px;
}


.p1Pro, .p2Pro, .p3Pro, .p4Pro{
    color: #777777;
    width: 210px;
    font-size: 13px;
    padding-top: 15px;
    font-weight: 1;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.d1pro, .d2pro, .d3pro, .d4pro{
    text-align: center;
    box-shadow: 0px 10px 30px 0px rgba(212, 150 ,225 ,0.2);
    margin-bottom: 40px;
    font-weight: 1;
    letter-spacing: 0.5px;

}

.img1Pro, .img2Pro, .img3Pro, .img4Pro{
    text-align: center;
}
.bordeer{
    border-bottom: 1px solid #eee;
    padding: 40px 0px 40px 0px;
}

.a1Pro, .a2Pro, .a3Pro, .a4Pro{
    border: none;
    border-radius: 1px;
    text-decoration: none;
    background-color: white;
    padding: 10px 30px 10px 30px;
    position: relative;
    top: 30px;
    color: white;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    font-weight: 1;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.about_img1{
    width: 600px;
    height: 400px;
    float: left;
    position: relative;
    right: 40px;

}

.about1{

    padding-top: 40px;
}

.about_text{
    padding-top: 100px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.about_h1{
    width: 650px;
    color: #222222;
    font-size: 35px;
    padding-bottom: 20px;
    font-size: 33px;
}

.about_h5{
    font-size: 14.4px;
    padding-bottom: 20px;
    color: #222222;
    font-weight: 300;

}

.about_p{
    width: 1190px;
    padding-bottom: 25px;
    color: #777777;
    font-size: 14px;

}

.about-btn{
    text-decoration: none;
    border: none;
    border-radius: 1px;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    padding: 10px 28px 10px 28px;
    color: white;
    display: inline-block;
    font-size: 15.5px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.about2_text{
    text-align: left;
    padding-left: 100px;
    position: relative;
    bottom: 141px;
    font-weight: 1;
    letter-spacing: 0.5px;

}

.about2_h6{
    letter-spacing:1px;
    font-size: 14px;
    color:#D2B4DE;
    padding-bottom:20px;
    font-weight: 1;
}

.about2_h1{
    padding-bottom:20px;
    font-size: 33px;
    color: #222222;

}

.about2_h5{
    padding-bottom:20px;
    font-size: 14.4px;
    color: #222;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.about2_p{
    color: #777777;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.about2_a{
    padding: 10px 28px 10px 28px;
    color: white;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    border: none;
    border-radius: 1px;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    font-weight: 1;
    letter-spacing: 0.5px;
}

.picright{
    background: url("../img/video-bg.jpg") no-repeat center;
    width: 46%;
    height:310px;
    position: relative;
    top: 150px;
    left: 300px;
}

.img_back{
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    opacity: 0.8;
    height: 310px;
}

.paybtn{
    width: 60px;
    height: 60px;
    position: relative;
    top: 120px;
   right: 13px;

}

.footer1{
    background: url("../img/feature-bg.jpg");
    background-size: cover;
    padding-bottom:200px;

}

.foter{
    background: url("../img/footer-bg.jpg");
    background-size: cover;
    padding-bottom: 30px;
}

.f_h1{
    color: white;
    font-size:33px ;
    text-align: center;
    padding-top: 100px;

}

.f_p{
    color: white;
    font-size:14.4px ;
    text-align: center;
    padding-top: 20px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.sec1{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 75px;
    top: 50px;
}
.f1_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f1_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img1{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}

.sec2{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 104px;
    top: 50px;
}
.f2_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f2_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img2{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}

.sec3{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 130px;
    top: 50px;
}
.f3_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f3_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img3{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}

.sec4{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 75px;
    top: 80px;
}
.f4_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f4_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img4{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}

.sec5{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 104px;
    top: 80px;
}
.f5_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f5_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img5{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}

.sec6{
    border-radius: 8px;
    padding: 10px 58px 0px 20px;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 130px;
    top: 80px;
}
.f6_h3{
    padding:15px 0px 6px 37px;
    letter-spacing: 0.4px;
    color: #222222;
    font-size:16px;
    font-weight: 1;
}

.f6_p{
    color: #777777;
    font-size: 14px;
    line-height: 20px;
    padding-top: 13px;
    padding-left: 6px;
    font-weight: 1;
}

.f_img6{
    width: 34px;
    height: 35px;
    position: relative;
    right: 1px;
    bottom: 107px;
}
.footer1{
    padding-left: 18px;
}
.foter_h6{
    font-size: 19.5px;
    color: #eeeeee;
    padding-top: 90px;
    padding-left: 110px; font-weight: 1;
    letter-spacing: 0.5px;
}

.foter_li>a{
    text-decoration: none;
    color: #eeeeee;
    font-size: 14px;
    font-weight:1;
    letter-spacing: 0.5px;
}

.foter_li{
    padding-top: 8px;
    display: block;
}

.foter_ul{
    padding-top: 17px;
    padding-left: 110px;
    list-style: none;

}

.foter_p{
    color: #eeeeee;
    letter-spacing: 0.5px;
    padding-top: 100px;
    padding-left: 110px;
    font-size: 13.7px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.email{
    padding: 10px 110px 10px 17px;
    border-radius: 20px;
    border: none;
    position: relative;
    bottom: 199px;
    right: 178px;
    font-weight: 1;
}
.foter_2{
    text-align: right;
}

.foter_h6_2{
    color: #eeeeee;
    font-size: 20px;
    position: relative;
    bottom: 250px;
    right: 503px;
    font-weight: 1;
    letter-spacing: 0.5px;
}
.foter_p_2{
    color: #eeeeee;
    letter-spacing: 0.5px;
    font-size: 15px;
    position: relative;
    bottom: 225px;
    right: 160px;
    font-weight: 1;
    letter-spacing: 0.5px;
}

.button_f{
    padding: 10px 60px 10px 20px;

    position: relative;
    bottom: 199px;
    right: 150px;
    border-radius: 20px;
    border: none;
    color: white;
    background-image: -webkit-linear-gradient(0deg, #828fff 0%, #d496ff 100%);
    cursor: pointer;
    font-weight: 1;
    letter-spacing: 0.5px;
}
.foter_a2:hover{
    color: #828fff;
}